/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* undsen style-uud */


#navbar{
    background-color: black;
    display: flex;
}

.logo{
    margin-left: 70px;
    margin-top: 10px;
    height: 50px;
    width: 50px;
}

.search{
    margin-left: 780px;
    
}
.search input{
    padding: 20px;
    border-radius: 20px;
    width: 450px;
    height: 20px;
    margin-top: 12px;
    margin-right: 80px;
}
.button{
    text-align: center;
}

#btn1 a, #btn2 a{
    padding: 0px;
    border: none;
    background: none;
    text-decoration: none;
    color: black;
    padding: 20px;
    margin: 20px;
}


.footer{
    
}

.scroll-bar{
    height:400px;
    width: 700px;
    border: 1px solid grey;
    overflow:auto;
}