:root{
    
}


/* ih biy */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header*/
.header{margin-top: 0px;}

#navbar{
    background-color: black;
    display: flex;
}

.logo{
    margin-left: 70px;
    margin-top: 10px;
    height: 50px;
    width: 50px;
}

.search{
    margin-left: 780px;
    display:flex;
    
}
.search input{
    padding: 20px;
    border-radius: 20px;
    width: 450px;
    height: 20px;
    margin-top: 12px;
    margin-right: 80px;
    display:flex;
}


/*  footer*/
.ad{
    color:white;
    position:absolute;
    margin-left: 900px;
    margin-top: 12px;
    
    
}
.organization{
    color:white;
    position:absolute;
    margin-left: 400px;
    margin-top: 12px;
}
.footer{
    background-color: black;
    height: 50px;
}
.add-company{
    color:rgb(48, 142, 173);
    position:absolute;
    margin-left: 400px;
    margin-top: 12px; 
}
.ad_bair{
    color:rgb(48, 142, 173);
    position:absolute;
    margin-left: 900px;
    margin-top: 12px; 
}



/*Ih biy*/
.button{
   margin-top: 20px;
   margin-bottom: 20px;
}
.button .btn1{
    margin-left: 220px;
    height: 50px;
    width: 400px;
    color:white;

}
.button .btn2{
    position:absolute;
    margin-top: 0px;
    margin-left: 250px;
    height: 50px;;
    width: 400px;
    color:white;
}

main{
  text-align: center;
}
.nvvr_zurag{
    margin-top:0px;
}
/*Scroll*/

.scroll-bar{
    height:400px;
    width: 700px;
    border: 0.5px solid grey;
    overflow:auto;
}